<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Напиши отзыв, для справки</h1>
<form method="get">
 <p><input type="text" placeholder="Твой ник" name="nick"></p>
 <p> <input type="text" placeholder="Твой адрес дома,запишем" name="adress"></p>  
 <p><textarea placeholder="Отзыв в жалобную книгу" name="review" cols="30" rows="10"></textarea></p>   
 <p><input type="submit" value="Послать сообщение разрабу" ></p>   
</form> 
</body>
</html>